<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{Your_description}">
  <title>ES6+ Template by Divyansh Bhushan</title>
  <%- include('./partials/links') %>
</head>
<body>
  <a href="/login">Login Page</a>
  <a href="/signup">Sign up Page</a>
  <%- include('./partials/scripts') %>
</body>
</html>