<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{Your_description}">
  <title>ES6+ Template by Divyansh Bhushan</title>
  <%- include('./partials/links') %>
</head>
<body class="flex items-center justify-center h-screen bg-slate-500">
  <form action="/login" method="post" class="flex flex-col w-80 gap-4 bg-slate-50 px-5 py-7 h-96 rounded-2xl justify-between">
    <div class="flex flex-col gap-4">
      <h1 class="text-zinc-500 text-xl font-semibold mb-3 text-center">Sign up to continue</h1>
      <input type="username" name="username" class="border-2 rounded-xl px-3 text-md py-2" placeholder="Enter your username" id="username">
      <input type="email" name="email" class="border-2 rounded-xl px-3 text-md py-2" placeholder="Enter your email" id="email">
      <input type="password" name="password" class="border-2 rounded-xl px-3 text-md py-2" placeholder="Enter your password" id="password">
    </div>
    <div class="flex flex-col gap-3 items-center">
      <button type="submit" class="bg-zinc-500 text-white rounded-md py-1 px-6">Login</button>
      <a href="/login" class="underline text-xs text-blue-700">Already have and account? sign in</a>
      <p class="text-red-600 text-xs"><%= errorMessage %></p>
    </div>
  </form>
  <%- include('./partials/scripts') %>
</body>
</html>